/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

a{
	text-decoration:none !important;
	margin:0;
}

@font-face{
    font-family:'led';
    src:url('../fonts/TheLedDisplaySt.ttf');
}

@font-face{
    font-family:'impact';
    src:url('../fonts/321impact.ttf');
}

html{
    box-sizing: border-box; 
    font-size:62.5%;
}
 
*, *:before, *:after{
    box-sizing: inherit;
}

.header__back{
    width: 100%;
    background-image: url('../img/prev/header3.jpg');
    height: 100vh;
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
}

.navegacion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navegacion a{
    font-size: 5rem;
    padding-top: 2rem;
    text-transform: uppercase;
    font-family: 'impact';
}

.blurry-text {
    color: transparent;
    text-shadow: 0 0 7px rgba(255,255,255,0.5);
 }

.blurry-text:hover{
    color: white;
}

.active{
  color: white;
}

.header__titulo{
    font-family: 'led';
    color: #ee00f9;
    bottom: 0;
    left: 0;
}


/*PRUEBA TEXTO HEADER*/
.prueba{
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content:end;
}
.titulo{
  font-family: 'led';
  color: #ee00f9;
  font-size: 15rem;
  line-height: 1.2;
  padding-left: 4rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: pruebas 2s linear infinite; 
}

/* .titulo:after{
  content: '';
  background-color: rgba(255,255,255,.7);
  width: 70rem;
  height: 17rem;
  position: absolute;
  transform: translate(-100%, 0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: red;
  animation: pruebas 1s linear infinite;
} */

@keyframes pruebas{
  0%{
   background-image: linear-gradient(to bottom, white 0%, #ee00f9 10%);
  }
  10%{
    background-image: linear-gradient(to bottom, white 15%, #ee00f9 25%);
  }
  20%{
    background-image: linear-gradient(to top, white 20%, #ee00f9 30%);
  }
  30%{
     background-image: linear-gradient(to top, white 25%, #ee00f9 35%);
  }
  40%{
    background-image: linear-gradient(to bottom,#ee00f9 20%, white 40%, #ee00f9 50%);
  }
  50%{
     background-image: linear-gradient(to bottom,#ee00f9 25%, white 55%, #ee00f9 65%);
  }
  60%{
    background-image: linear-gradient(to top, white 20%, #ee00f9 30%);
  }
  70%{
     background-image: linear-gradient(to top, white 30%, #ee00f9 45%);
  }
  80%{
    background-image: linear-gradient(to bottom, white 10%, #ee00f9 20%);
  }
  90%{
    background-image: linear-gradient(to bottom,#ee00f9 10%, white 55%, #ee00f9 65%);
 }
 100%{
   background-image: linear-gradient(to top, white 20%, #ee00f9 30%);
 }
}



  /* .wrapper h1.glitch {
    color: #ee00f9;
    font-family: sans-serif;
    position: absolute;
    font-size: 18rem;
    padding: 30px;
    font-family: 'led';
    margin-bottom: 9%;
    margin-left: 0%;
    padding-left: 0;
  }
  .wrapper h1.glitch::before, .wrapper h1.glitch::after {
    padding: 30px;
    padding-top: 0;
    color: white;
    content: "Jaguar";
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 0;
  }
  .wrapper h1.glitch::before {
    left: 2px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
    opacity: 0.8;
    padding-left: 0;
  }
  .wrapper h1.glitch::after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
    opacity: 0.8;
    padding-left: 0;
  }
  
  @keyframes glitch-animation-1 {
    0% {
      clip: rect(15px, 820px, 59px, 0px);
    }
    5% {
      clip: rect(105px, 820px, 18px, 0px);
    }
    10% {
      clip: rect(25px, 820px, 164px, 0px);
    }
    15% {
      clip: rect(141px, 820px, 27px, 0px);
    }
    20% {
      clip: rect(115px, 820px, 53px, 0px);
    }
    25% {
      clip: rect(79px, 820px, 85px, 0px);
    }
    30% {
      clip: rect(10px, 820px, 14px, 0px);
    }
    35% {
      clip: rect(136px, 820px, 156px, 0px);
    }
    40% {
      clip: rect(22px, 820px, 120px, 0px);
    }
    45% {
      clip: rect(40px, 820px, 132px, 0px);
    }
    50% {
      clip: rect(12px, 820px, 215px, 0px);
    }
    55% {
      clip: rect(38px, 820px, 141px, 0px);
    }
    60% {
      clip: rect(108px, 820px, 133px, 0px);
    }
    65% {
      clip: rect(100px, 820px, 75px, 0px);
    }
    70% {
      clip: rect(68px, 820px, 206px, 0px);
    }
    75% {
      clip: rect(149px, 820px, 41px, 0px);
    }
    80% {
      clip: rect(31px, 820px, 19px, 0px);
    }
    85% {
      clip: rect(38px, 820px, 69px, 0px);
    }
    90% {
      clip: rect(95px, 820px, 250px, 0px);
    }
    95% {
      clip: rect(85px, 820px, 226px, 0px);
    }
    100% {
      clip: rect(43px, 820px, 42px, 0px);
    }
  }
  @keyframes glitch-animation-2 {
    0% {
      clip: rect(122px, 820px, 225px, 0px);
    }
    5% {
      clip: rect(150px, 820px, 88px, 0px);
    }
    10% {
      clip: rect(96px, 820px, 63px, 0px);
    }
    15% {
      clip: rect(106px, 820px, 165px, 0px);
    }
    20% {
      clip: rect(51px, 820px, 150px, 0px);
    }
    25% {
      clip: rect(128px, 820px, 37px, 0px);
    }
    30% {
      clip: rect(39px, 820px, 257px, 0px);
    }
    35% {
      clip: rect(107px, 820px, 19px, 0px);
    }
    40% {
      clip: rect(118px, 820px, 46px, 0px);
    }
    45% {
      clip: rect(24px, 820px, 206px, 0px);
    }
    50% {
      clip: rect(105px, 820px, 188px, 0px);
    }
    55% {
      clip: rect(111px, 820px, 11px, 0px);
    }
    60% {
      clip: rect(23px, 820px, 68px, 0px);
    }
    65% {
      clip: rect(44px, 820px, 40px, 0px);
    }
    70% {
      clip: rect(8px, 820px, 39px, 0px);
    }
    75% {
      clip: rect(38px, 820px, 89px, 0px);
    }
    80% {
      clip: rect(141px, 820px, 151px, 0px);
    }
    85% {
      clip: rect(127px, 820px, 55px, 0px);
    }
    90% {
      clip: rect(99px, 820px, 74px, 0px);
    }
    95% {
      clip: rect(50px, 820px, 30px, 0px);
    }
    100% {
      clip: rect(81px, 820px, 8px, 0px);
    }
  }

  .wrapper h1.glitch2 {
    color: #ee00f9;
    font-family: sans-serif;
    position: absolute;
    font-size: 18rem;
    padding: 30px;
    padding-left: 0;
    font-family: 'led';
    margin-bottom: 0%;
    margin-left: 0%;
  }
  .wrapper h1.glitch2::before, .wrapper h1.glitch2::after {
    padding: 30px;
    padding-top: 0;
    color: white;
    content: "Studio";
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 0;
  }
  .wrapper h1.glitch2::before {
    left: 2px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
    opacity: 0.8;
    padding-left: 0;
  }
  .wrapper h1.glitch2::after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
    opacity: 0.8;
  } */

  /*FIN HEADER*/

  /*INTRO*/
.intro__main{
  background-color: black;
}

.intro__main h2{
  font-family: 'impact';
  font-size: 8rem;
  padding: 3%;
  color: white;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0% 0 5%;
}

.intro__img{
    width: 50%;
}

.intro__img img{
    width: 70%;
}

.intro__txt{
    width: 50%;
}

.intro__txt p{
    text-align: center;
    color: white;
    padding-left: 2%;
    padding-right: 15%;
    font-size: 2rem;

}

.tattoo{
  background-color: black;
}

.tattoo h2{
    font-family: 'impact';
    font-size: 8rem;
    padding: 3%;
    color: white;
}

.tattoo__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    width: 95%;
    margin: auto;
    padding-bottom: 2rem;
}


/*Prueba Galeria con Modal*/

.galeria-imagenes{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  width: 90%;
  margin: auto;
}

.galeria-imagenes img{
  height: 30rem;
  width: 100%;
}

.overlay{
  position: fixed;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  top: 0;
  display: grid;
  place-items: center;
}

.overlay img{
  height: 80rem;
}


.btn-cerrar{
  width: 5rem;
  height: 5rem;
  background-color: white;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 50%;
  text-align: center;
}

.btn-cerrar:hover{
  cursor: pointer;
}

.fijar-body{
  overflow:hidden
}
/*Fin Prueba Galeria con Modal*/

/*PRUEBA*/

.container {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height: 400px;
  }

  .container:hover{
    filter: grayscale(1);
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    font-size: 7rem;
    font-family: 'impact';
    text-transform: capitalize;
  }

  .btn__contacto{
      background-color: white;
      border:none;
      color: black;
      font-family: 'impact';
      font-size: 5rem;
      display: block;
      margin: auto;
      padding: 1.3rem 5rem 1rem;
      cursor: pointer;
  }

  /*ARTWORK*/

.artwork{
  background-color: black;
  padding-bottom: 5rem;
}

.artwork h2{
  font-family: 'impact';
  font-size: 8rem;
  padding: 3%;
  color: white;
}

.artwork__content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 95%;
  margin: auto;
  padding-bottom: 2rem;
}

.footer{
    background-color: #010951;
    width: 100%;
    height: 300px;
}

/*TATTOOS*/

.header__tattoos{
  width: 100%;
  background-image: url('../img/prev/Sticker.jpg');
  background-position: center center;
  background-size: cover;
  height: 50vh;
}

.header__tattoos h2{
  font-family: 'impact';
  font-size: 20rem;
  text-align: center;
  padding-top: 5%;
  color: #ee00f9;
  filter: grayscale(0);
}

.titulos{
  font-family: 'impact';
  color: white;
  font-size: 6rem;
  padding: 3% 0 3% 5%;
}

.section__1{
  background-color: black;
  padding-bottom: 5rem;
}


.contenido__slideshows{
  width: 80%;
  display: block;
  margin: auto;
}
/*PRUEBA SLIDESHOW*/

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.wrapper {
  overflow: hidden;
  height: 80vh;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
  }
}

.gallery {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .gallery {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 10px;
  min-width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .gallery__img {
    min-width: auto;
    min-height: 100vh;
  }
}

.lil-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  grid-row-start: 2;
}
@media screen and (min-width: 1200px) {
  .lil-nav {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    grid-row-start: auto;
  }
}
.lil-nav a {
  display: flex;
  min-width: 25vw;
  margin-right: 10px;
}
@media screen and (min-width: 1200px) {
  .lil-nav a {
    margin-bottom: 10px;
    min-height: 200px;
    min-width: 100%;
  }
}

.lil-nav__img {
  -o-object-fit: cover;
     object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;
}
.lil-nav__img:hover {
  transform: scale(1.05);
  filter: saturate(1);
}

/*Fin Primer Slideshow*/


/*PRESS*/

.press__pdf{
  background-color: black;
}

.press__pdf iframe{
  width: 70%;
  display: block;
  margin: auto;
  height: 70vh;
}

/*FORM*/

.form{
  background-color: black;
}

.form__size{
  width: 60%;
  display: block;
  margin: auto;
}

