@use "sass:math";
@use 'variables' as v;
@use 'mixins' as m;


@font-face{
    font-family:'led';
    src:url('../fonts/TheLedDisplaySt.ttf');
}

@font-face{
    font-family:'impact';
    src:url('../fonts/321impact.ttf');
}

@font-face{
    font-family:'rustic';
    src:url('../fonts/rustic.otf');
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuenteTexto;
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: v.$negro;
}

p {
    color: v.$blanco;
    font-size: 1.8rem;
    @include m.desktop{
        font-size: 2.2rem;
        line-height: 1.4;
    }
    @include m.giant{
        font-size: 3rem;
        line-height: 1.6;
    }
    @include m.bigscreen{
        font-size: 3.6rem;
        line-height: 1.6;
    }
}

.container {
    width: 85%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: v.$fuenteTitle;
    margin: math.div(v.$separacion, 2) 0;
    font-weight: 300;
    color: v.$blanco;
    margin: 0;
    padding: 0;
}

h1 {

    font-size: 3.8rem;
    @include m.tablet{
        font-size: 8rem;
    }
}
h2 {
    font-size: 3.4rem;
    @include m.phone{
        font-size: 4.2rem;
    }
    @include m.tablet{
        font-size: 5.5rem;
    }
    @include m.desktop{
        font-size: 6.2rem;
    }
    @include m.bigscreen{
        font-size: 8rem;
    }
}
h3 {
    font-size: 2.6rem;
    @include m.tablet{
        font-size: 4.5rem;
    }
}

p{
    font-size: 1.4rem;
    margin: 0;
    @include m.phone{
        font-size: 1.6rem;
    }
    @include m.tablet{
        font-size: 2rem;
    }
}
