/** Media Queries **/
@use 'variables' as v;

@mixin mini {
    @media (min-width: #{v.$mini}) {
        @content;
    }
}

@mixin phone {
    @media (min-width: #{v.$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{v.$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{v.$desktop}) {
        @content;
    }
}

@mixin bigscreen {
    @media (min-width: #{v.$bigScreen}) {
        @content;
    }
}
@mixin giant {
    @media (min-width: #{v.$giant}) {
        @content;
    }
}

@mixin grid($columns, $spacing) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin boton($display){
    background-color: v.$blanco;
    color: v.$negro;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: v.$separacion / 2;
    display: $display;
    border: none;

    &:hover{
        background-color: v.$fucsia;
        cursor: pointer;
    }
}