/** Media Queries **/
@use "sass:math";
@use 'variables' as v;

@mixin mini {
    @media (min-width: #{v.$mini}) {
        @content;
    }
}

@mixin phone {
    @media (min-width: #{v.$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{v.$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{v.$desktop}) {
        @content;
    }
}

@mixin bigscreen {
    @media (min-width: #{v.$bigScreen}) {
        @content;
    }
}
@mixin giant {
    @media (min-width: #{v.$giant}) {
        @content;
    }
}

@mixin grid($columns, $spacing) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin boton($fondo, $display){
    background-color: $fondo;
    color: v.$blanco;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 4rem;
    text-align: center;
    margin-top: math.div(v.$separacion, 2);
    display: $display;
    border: none;
    font-family: v.$fuenteTexto;
    border-radius: 1rem;
    font-weight: v.$bold;

    &:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
}