@use 'variables' as v;
@use 'mixins' as m;

.no-filter{
    filter:none !important;
}

.secciones{
    width: 95%;
    margin: auto;
}

.boton-verde{
    @include m.boton(#07cc17, inline-block);
    color: v.$negro;
}
.boton-rojo{
    @include m.boton(#8f1f1f, inline-block);
}
.boton-amarillo{
    @include m.boton(#f0b20a, inline-block);
}

.boton-verde-block{
    @include m.boton(#07cc17, block);
    color: v.$negro;
}
.boton-rojo-block{
    @include m.boton(#8f1f1f, block);
}
.boton-amarillo-block{
    @include m.boton(#f0b20a, block);
}
.w-100{
    width: 100%;
}