
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

// Fuentes
$fuenteTitle: 'impact';
$fuenteLed:'led';
$fuenteTexto: 'Roboto', sans-serif;
$secFont: 'Lato', sans-serif;

// Tamaño de Media Queries
$mini: 350px;
$phone: 480px;
$tablet: 950px;
$desktop: 1024px;
$bigScreen: 1400px;

// Colores
$negro: #000000;
$blanco: #FFFFFF;
$fucsia: #ee00f9;
$azul: #010951;
$gris: #333333;

// Medidas
$separacion: 5rem;

// Fuentes

$thin: 300;
$regular : 400;
$bold: 700;
$ultrabold: 900