@use 'base/variables' as v;

.footer{
    margin-top: v.$separacion;
    padding: v.$separacion 0;
    background-color: v.$fucsia;
    p{
        padding: 0;
        margin: 0;
        text-align: center;
    }
}